/* Blocks */
.blocks {
  margin-top: 60px;
}

.blocks__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

/* Media */
@media screen and (max-width: 620px) {
  .blocks__cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}