.small-card {
  display: flex;
  gap: 30px;

  padding: 20px;
  border-radius: 10px;

  cursor: pointer;
  background-color: var(--black-500);
}

.small-card__img {
  width: 220px;
  border-radius: 10px;
}

.small-card__wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.small-card__texts {
  width: 400px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.small-card__title {
  font-size: 26px;
  font-weight: 600;
}

.small-card__subtitle {
  font-size: 16px;
  font-weight: 500;
  color: var(--gray-500);
}

.small-card__bottom {
  display: flex;
  align-items: center;
  gap: 40px;
}

.small-card__price {
  font-size: 20px;
  font-weight: 600;
}