/* Leaders */
.leaders {
  margin-top: 80px;
}

.leaders__inner {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.leaders__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* Media */
@media screen and (max-width: 370px) {
  .leaders {
    margin-top: 60px;
  }
}